.bf-logo{
    height: 50px;
}



 body{
    height: 100%;
    width: 100%; 
 }
  .row-control{
    background-color: whitesmoke;
  
     
  }
  .footer-control{
    background-color: white;
     
  }
  h1{
    font-size: 50px;
  }
   .section{
    border: 1px solid;
    padding: 10px;
    background-color:  rgb(9, 94, 71);
    width: 100%;
    height: 100%;
     
    
}  

.button{
  color: #213b52;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  border: 2px solid #fdc134;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #fdc134;
 
}

.button a{
  text-decoration: none;
 }
 .button:hover{
  background-color: rgb(9, 94, 71);
  
 }
a{
  color: #495057;
  text-decoration: none;
  font-size: 15px;
}
 a:hover{
  text-decoration: underline;
  color: green;
 }
 .sector li a:hover{
    background-color: green;
   
 }
  

 

 
 
 